.root {
    width: 100% !important;
    height: 100% !important;
    z-index: 1000 !important;
    background-color: #fff !important;
    border: 0.5px solid rgba(140, 140, 140, 0.2);
    display: flex !important;
    flex-direction: column !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    justify-content: flex-start !important;
    align-self: center !important;
    box-sizing: border-box !important;
    padding-top: 16px !important;
}

.headLogo {
    height: 16px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-left: 30px !important;
    box-sizing: border-box !important;
    font-size: 22px !important;
    font-family: poppins !important;
    color: #000 !important;
    line-height: 33px !important;
    font-weight: 600 !important;
}

.items {
    display: flex !important;
    cursor: pointer !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-left: 20px !important;
    margin: 0 23px !important;
    font-family: poppins !important;
    line-height: 26px !important;
    font-size: 17.5px !important;
    box-sizing: border-box !important;
    color: #000000 !important;
    height: 46px !important;
    min-height: 46px !important;
    width: auto !important;
    box-sizing: border-box !important;
    /* margin-top: 20px !important;     */
}

.menuItems {
    align-items: center !important;
    justify-content: flex-start !important;
    padding-left: 20px !important;
    margin: 0 0 !important;
    font-family: poppins !important;
    line-height: 26px !important;
    font-size: 17.5px !important;
    box-sizing: border-box !important;
    color: #000000 !important;
    height: 46px !important;
    width: auto !important;
    box-sizing: border-box !important;
}

.itemImg {
    height: 16px !important;
    width: 16px !important;
    fill: black !important;
}

.itemText {
    margin-left: 10px !important;
    font-family: poppins !important;
    line-height: 22px !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
    color: #000000 !important;

}

.accordian {
    padding-left: 27px !important;
    box-shadow: unset !important;
    border: unset !important;
    margin: 0 !important;

    & div:nth-child(1) {
        & div {
            border: 0px !important;
        }
    }
}

.accSummary {
    font-family: poppins !important;
    line-height: 26px !important;
    font-size: 16px !important;
    box-sizing: border-box !important;
    color: #000000 !important;
    display: flex !important;

    & img {
        align-self: center !important;
    }
}
